<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragment/commonHead :: commonHead(~{::title})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{common/fragment/navbar :: navbar}"></nav>

<main class="container mt-3">
<form id="updateForm">
    <section>
        <table th:replace="~{common/fragment/component/request/tables :: requestDepartments}"></table>
    </section>
    <section th:replace="~{common/fragment/component/request/fieldInput :: fieldInput}"></section>
    <script th:replace="~{common/fragment/jsInline/jsRequest :: jsFieldInput}" ></script>
    <script th:replace="~{common/fragment/jsInline/jsRequest :: jsInitUpdateDepartments}" ></script>

    <div class="mt-3">
        <section th:replace="~{common/fragment/component/request/updateAreaInput :: updateAreaInput}"></section>
        <script th:replace="~{common/fragment/jsInline/jsRequest :: jsAreaInput}"></script>
    </div>
    <div class="mt-3">
        <section>
            <div class="form-floating">
                <textarea required name="request" class="form-control" placeholder="영역 세부 설명" id="floatingTextarea" style="height: 150px;">[[${requestUpdateGetParam.request}]]</textarea>
                <label for="floatingTextarea"><small>영역 세부 설명</small></label>
            </div>
        </section>
        <section th:replace="~{common/fragment/component/request/updateInputs :: dateInput}"></section>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary btn-lg w-100" type="button" id="submitBtn">등록 하기</button>
    </div>
</form>
</main>

<script th:replace="~{common/fragment/jsInline/jsForm :: jsUpdateRequestForm}"></script>

</body>
</html>