<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="masterStatus">
    <th:block th:if="${department.master} == true">
        <button class="btn btn-success w-100" disabled>
            마스터 획득
        </button>
    </th:block>
    <th:block th:if="${department.master} == false">
        <button class="btn btn-danger w-100" disabled>
            마스터 미획득
        </button>
    </th:block>
</th:block>

<th:block th:fragment="adminStatus">
    <th:block th:if="${department.admin} == true">
        <button class="btn btn-success w-100" disabled>
            어드민 획득
        </button>
    </th:block>
    <th:block th:if="${department.admin} == false">
        <button class="btn btn-danger w-100" disabled>
            어드민 미획득
        </button>
    </th:block>
</th:block>
</body>
</html>