<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="filesModal" class="modal fade" th:id="'staticBackdropFiles' + ${comment.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropFilesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropFilesLabel">파일 다운로드</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div th:each="commentFile : ${comment.commentFiles}">
                    <a th:href="@{/api/comment-file/attach/{id}(id=${commentFile.id})}" th:text="${commentFile.originalName}"></a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="updateModal" class="modal fade" th:id="'staticBackdrop' + ${comment.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">댓글 수정</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/api/comment/update/{id}/{requestId}(id=${comment.id}, requestId=${requests[0].id})}" method="post">
                    <div class="form-floating">
                        <textarea class="form-control" name="comment" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">[[${comment.comment}]]</textarea>
                        <label for="floatingTextarea2">댓글 수정</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">댓글 수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>